@using CMP.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<!--
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Profile">Edytuj dane</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Hasło</a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Uwierzytelnianie dwuskładnikowe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Dane osobowe</a>
    </li>
</ul>
-->
<a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="index" asp-page="./Index">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Funkcje</div>
                           <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Calculator">
                            <div class="sb-nav-link-icon">
                                <i class="fa fa-university"></i>
                            </div>
                            Kalkulator podatkowy
                        </a>
                           <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Chart">
                            <div class="sb-nav-link-icon">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            Kursy walut
                        </a>
                        <div class="sb-sidenav-menu-heading">Profil</div>
                        <a class="nav-link @ManageNavPages.ProfileNavClass(ViewContext)" id="profile" asp-page="./Profile">
                            <div class="sb-nav-link-icon">
                                <i class="fa fa-user"></i>
                            </div>
                            Edytuj dane
                        </a>
                        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
                            <div class="sb-nav-link-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            Email
                        </a>
                        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
                            <div class="sb-nav-link-icon">
                                <i class="fa fa-key"></i>
                            </div>
                            Zmień hasło
                        </a>
                        @if (hasExternalLogins)
                        {
                            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-table"></i>
                                </div>
                                Logowanie zewnętrzne
                            </a>
                        }
                        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
                            <div class="sb-nav-link-icon">
                                <i class="fa fa-shield"></i>
                            </div>
                            Uwierzytelnianie dwuskładnikowe
                        </a>
                        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
                            <div class="sb-nav-link-icon">
                                <i class="fa fa-info"></i>
                            </div>
                            Dane osobowe
                        </a>